---
import Header from '../components/Header.astro';
import Sidebar, { Link } from '../components/Sidebar.astro';
import type { Path } from '../lib/types';
import type { User } from '../state/auth/auth';

export interface Props {
  path: Path[];
  links?: Link[];
  user?: User;
}

const { path, user, links } = Astro.props;

const storeThisUser = JSON.stringify(user);

const gridTemplateArea = links
  ? `"logo header" "sidebar content"`
  : `"logo header" "content content"`;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{path[0].label}</title>
  </head>
  <body class="layout min-h-screen">
    <Header path={path} />
    <div
      class="border-r-2 border-b-2 border-solid border-black flex items-center justify-center"
    >
      <h1 class="ga-logo text-center font-bold text-xl my-auto">
        BadWithMoney
      </h1>
    </div>

    {links && <Sidebar links={links} />}
    <div class="ga-content bg-purple-500">
      <slot />
    </div>
    <div data-hidden data-temp-user-store={storeThisUser}></div>
  </body>
</html>
<style is:global define:vars={{ gridTemplateArea }}>
  .layout {
    display: grid;
    grid-template-areas: var(--gridTemplateArea);
    grid-template-columns: 180px 1fr;
    /* 180px is the sidebar width */
    grid-template-rows: 60px 1fr;
    /* 60px is the header height */
  }
</style>
<script>
  import { inspect } from '@xstate/inspect';

  if (typeof window !== 'undefined') {
    inspect({
      // options
      // url: 'https://stately.ai/viz?inspect', // (default)
      iframe: false,
    });
  }
</script>
